* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*  list-style-type: none; */
}

.header {
  position: relative;
  min-height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(p.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 100%;
  background: linear-gradient(0deg, #146c94 55.21%, #ffffff 100%);
}
.header-content {
  margin-top: 70px;
  position: relative;
  width: 100%;
  text-align: center;
}
.header-content h2 {
  font-family: "montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

h1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
  padding: 0 6%;
  padding-top: 3rem;
  background-color: rgb(241, 241, 241);
}

main {
  display: flex;
  background-color: rgb(241, 241, 241);
  padding-top: 102px;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 241, 241);
  width: 75%;
}

aside {
  width: 25%;
}

.content {
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  border-width: 3px;
  /* box-shadow: 0px 0 8px 2px rgba(0, 0, 0, 0.2); */
  
}
.content h4 {
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #000000;
  font-size: 1.6rem;
}
/* .content h4::after {
    content: "";
    border-bottom: 5px solid #a1990e;
    width: 150px;
    display: block;
    margin: 5px auto;
  } */

.image-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.image-container img {
  border-radius: 16px;
  justify-content: center;
  display: block;
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.deskripsi {
  color: #000000;
  opacity: 50%;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  color: #00000072;
  text-align: start;
  padding-bottom: 5px;
  font-size: 1.2rem;
}
.konten-isi {
  color: #000000;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  transition: 0.5s;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 10px;
}
.konten-isi p{
  padding-bottom: 1rem;
}

aside h2 {
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  color: #000000;
  font-size: 1.6rem;
  padding-bottom: 5px;
}

.line {
  height: 1px;
  width: 80%;
  background-color: #000000;
  margin-bottom: 5px;
}

.ling{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ling a {
  color: #000000;
}

.ling a:hover{
  text-decoration: underline;
}
@media (max-width: 450px) {
  .image-container img{
    height: 240px;
  }
  .deskripsi,
  main {
    display: flex;
    flex-direction: column;
  }
  aside {
    width: 100%;
    padding-bottom: 32px;
  }
  .container{
    width: 100%;
  }

}
