* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "montserrat";
}
.header {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  margin-bottom: -10px;
}

.header h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  width: 90%;
}

.slide-content h3 {
  font-size: 24px;
  font-weight: 600;
  color: #39a2db;
}
.slide-content p {
  font-size: 20px;
}

.swiper {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  /* margin-bottom: 10px; */
}

.swiper-slide .slide-content img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: -20%;
}

.slide-content {
  display: grid;
  place-items: center;
  text-align: center;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.deskripsi {
  margin: 0;
  font-size: 20px;
  padding: 30px;
}
.tugas {
  margin-top: 0 !important;
}
.tugas ol {
  margin-top: 10px;
  padding-left: 20px !important;
  list-style: decimal !important;
  margin-left: 30px !important;
}

.tugas li {
  list-style: decimal !important;
  margin-bottom: 0.5rem;
  display: list-item !important;
}

@media (max-width: 1000px) {
  .header {
    margin-top: 80px;
  }
}

/* Ukuran Android */
@media (max-width: 450px) {
  .header {
    margin-top: 80px;
  }
  .header h2 {
    font-size: 32px;
  }
  .tugas li {
    font-size: 16px;
  }
}
