:root {
  --primary-font: Arial, sans-serif;
  --secondary-font: Montserrat, sans-serif;
  --primary-color: #39a2db;
  --secondary-color: #146c94;
}

/* Cooming soon section */
*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

header {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(17, 17, 17);
}

header a {
  padding: 2rem;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s ease-in;
}

header a:hover {
  color: rgb(255, 251, 0);
}

header p {
  padding: 2rem;
  color: rgb(255, 251, 0);
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  z-index: 9999;
}

main {
  padding: 0 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(17, 17, 17);
  justify-content: center;
  align-items: center;
}

main h1 {
  color: #fff;
  font-size: 5rem;
  text-align: center;
}

main h2 {
  font-size: 7rem;
  color: #ffffff;
}

.highlight {
  padding: 0 1rem;
  white-space: nowrap;
  background-color: rgb(255, 251, 0); 
  color: rgb(17, 17, 17);
}